<table id="semester-table" class="table">
    <thead>
    <tr>
      <th class="text-center" scope="col">#</th>
      <th class="text-center" scope="col">학교</th>
      <th class="text-center" scope="col">연도</th>
      <th class="text-center" scope="col">학기</th>
      <th class="text-center" scope="col">기간</th>
      <th class="text-center" scope="col">수정 / 삭제</th>
    </tr>
    </thead>
    <tbody>
    {% for term in semesters %}
      <tr>
        <th class="text-center" scope="row">{{ forloop.counter }}</th>
        <td class="text-center">{{ term.school }}</td>
        <td class="text-center">{{ term.start|date:"Y" }}</td>
        <td class="text-center">{{ term.semester }}</td>
        <td class="text-center">
          {% if user.user_type == 1 %}
            <a href="{% url 'timetable:home_view' user.id term.pk term.start %}">
              {{ term.start|date:"Y/m/d" }} ~ {{ term.end|date:"Y/m/d" }}
            </a>
          {% endif %}
        
          {% if user.user_type == 2 %}
            <a href="{% url 'timetable:sub_view' user.id term.pk term.start %}">
              {{ term.start|date:"Y/m/d" }} ~ {{ term.end|date:"Y/m/d" }}
            </a>
          {% endif %}

          {% if user.user_type == 3 %}
            <a href="{% url 'timetable:inv_view' user.id term.pk term.start %}">
              {{ term.start|date:"Y/m/d" }} ~ {{ term.end|date:"Y/m/d" }}
            </a>
          {% endif %}

        </td>
        <td class="text-center">
          <!-- Update book buttons -->
          {% if user.is_staff %}
          <button type="button" class="update-semester btn btn-sm btn-primary" data-form-url="{% url 'school:update_semester' user.school.pk term.pk %}">
            <i class="fas fa-pencil-alt"></i>
          </button>
          <!-- Delete book buttons -->
          <button type="button" class="bs-modal delete-book btn btn-sm btn-danger" data-form-url="{% url 'school:delete_semester' user.school.pk term.pk %}">
            <i class="fas fa-trash-alt"></i>
          </button>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>