{% extends 'base.html' %}

{% load widget_tweaks %}
{% load static %}

{% block extrascripts %}
<link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.css'%}"/>
<script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
<script>
$(function() {
      $('#weekpicker').datepicker({
          format: "yyyy/mm/dd",
          daysOfWeekDisabled: "0,2,3,4,5,6",
          daysOfWeekHighlighted: "1,2,3,4,5",
          calendarWeeks: true,
          showOtherMonths: true,
          selectOtherMonths: true,
          })
          .on('changeDate', function(event) { 
              var startDate = new Date($(this).val());
              var endDate = new Date();
              endDate.setDate(startDate.getDate() + 4);

              $.ajax({
                type: $(this).attr('method'),         
                url: $(this).attr('action'),
                data: { 'startdate':startDate.toISOString(), 
                        'enddate' : endDate.toISOString(),
                        'csrfmiddlewaretoken': '{{ csrf_token }}', 
                        'timetable_set-TOTAL_FORMS' : 40, // needed for formset
                        'timetable_set-INITIAL_FORMS': 40,
                        'timetable_set-MAX_NUM_FORMS' : 1000,
                      }, 
              success : function(response) {
                $('#Table-Update-form').html(response);
              },
              error : function(xhr,errmsg,err) {
                  $('#Table-Update-form').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                      " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
                  console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
              }})
          });
  });
</script>
{% endblock extrascripts %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/table.css' %}">

<div class="container mt-3">
<h2>Subject</h2>
<div>
  <input id="weekpicker" type="text" data-provide="datepicker" class="form-control">
</div>
  <div class="table-wrap">
  <table class="table table-bordered table-sm" id="TimeTableUpdate">
    <thead class="thead-light">
      <th scope="col">#</th>
      <th scope="col">Mon</th>
      <th scope="col">Tue</th>
      <th scope="col">Wed</th>
      <th scope="col">Thr</th>
      <th scope="col">Fri</th>
    </thead>
    <tbody>
    <form action="{% url 'timetable:home_update' user.id %}" method="post" id="Table-Update-form">
    {% csrf_token %}
    {% for course in TimeTables %}
    {% cycle '<tr scope="row"><th> 1 </th>' '' '' '' '' %}
      <td> 
        {% for field in course %}
        <div class="form-group">
          <label for="{{ field.id_for_label }}">{{ field.label }}</label>
          {% render_field field class="form-control" placeholder=field.label %}
          <div class="{% if field.errors %} invalid {% endif %}">
            {% for error in field.errors %}
              <p class="help-block">{{ error }}</p>
            {% endfor %}
          </div>
        </div>
        {% endfor %}
      </td>
    {% cycle '' '' '' '' '</tr>' %}
    {% endfor %}
    </tbody>
  </table>
  </div>
  {{ TimeTables.management_form }}
  {{ TimeTables.non_form_errors.as_ul }}
  <input type="submit" class="btn btn-primary" value="Go Go Gadget &rarr;">
</div>
</form>
{% endblock content %}
