{% extends 'base.html' %}

{% block scripts %}
<script>
  $(function(){
    $('#Table-Create-Form').on('submit', function(){
      alert();
    })
  });
</script>
{% endblock %}

{% block content %}
<form action="{% url 'sub_create' user.id %}" method="post" id="Table-Create-Form">
  {% csrf_token %}
  {{ formset.management_form }}
  {{ formset.non_form_errors.as_ul }} 
 
  <h2>forms</h2>
  <table border='1' id="TimeTableCreate">
    <td align="center">월</td>
    <td align="center">화</td>
    <td align="center">수</td>
    <td align="center">목</td>
    <td align="center">금</td>
    {% for form in formset %}

    {% if forloop.first %}
      {{ form.semester }}
    {% endif %}

    {% cycle '<tr>' '' '' '' '' %}
      <td align="center">
        {{ form.classRoom }}
        {{ form.subject }}
      </td>
    {% cycle '' '' '' '' '</tr>' %}
    {% endfor %}
  </table>
  <input type="submit" class="btn btn-primary" value="Go Go Gadget &rarr;">
</form>
{% endblock %}