{% extends 'base.html' %}

{% block scripts %}
{% endblock %}

{% load static %}
{% block content %}

<a href="{% url 'home_view' user.id %}">temporal</a>

<form action="{% url 'sub_view' user.id %}" method="get" id="Table-View-form">
  {% csrf_token %}
 
  <h2>forms</h2>
  <table class="table table-hover" id="TimeTableView">
    <thead class="thead-light">
      <th scope="col">#</th> 
      <th scope="col">Mon</th>
      <th scope="col">Tue</th>
      <th scope="col">Wed</th>
      <th scope="col">Thr</th>
      <th scope="col">Fri</th>
    </thead>
    {% for course in TimeTables %}
    {% cycle '<tr scope="row"><th>1</th>' '' '' '' '' %}
      <td align="center"> 
        {{ course.classRoom }}
        {{ course.subject }}
        {{ course.teacher }}
      </td>
    {% cycle '' '' '' '' '</tr>' %}
    {% endfor %}
  </table>
  {{ TimeTables.management_form }}
  {{ TimeTables.non_form_errors.as_ul }} 
  <a href="{% url 'sub_create' user.id %}">create</a>
  <a href="{% url 'sub_update' user.id %}">update</a>
</form>
{% endblock %}
