{% extends 'accounts/base.html' %}

{% block scripts %}
{% endblock %}

{% load static %}
{% block content %}
<form action="{% url 'view' %}" method="get" id="Table-View-form">
  {% csrf_token %}
 
  <h2>forms</h2>
  <table border='1' id="TimeTable">
    <td align="center">월</td>
    <td align="center">화</td>
    <td align="center">수</td>
    <td align="center">목</td>
    <td align="center">금</td>
    {% for course in TimeTables %}
    {% cycle '<tr>' '' '' '' '' %}
      <td align="center"> 
        {{ course.classRoom }}
        {{ course.subject }}
      </td>
    {% cycle '' '' '' '' '</tr>' %}
    {% endfor %}
  </table>
  {{ TimeTables.management_form }}
  {{ TimeTables.non_form_errors.as_ul }} 
  <a href="{% url 'create' user.id %}">create</a>
  <a href="{% url 'update' %}">update</a>
</form>
{% endblock %}
