{% extends 'accounts/base.html' %}

{% block scripts %}
<script>
//https://stackoverflow.com/questions/1289633/how-to-use-jquery-ui-calendar-date-picker-for-week-rather-than-day
$(function() {
      var startDate;
      var endDate;
      var selectCurrentWeek = function() {
          window.setTimeout(function () {
              $('.week-picker').find('.ui-datepicker-current-day a').addClass('ui-state-active')
          }, 1);
      }
  
      $('.week-picker').datepicker( {
          showOtherMonths: true,
          selectOtherMonths: true,
          onSelect: function(dateText, inst) { 
              var date = $(this).datepicker('getDate');
              startDate = new Date(date.getFullYear(), date.getMonth(), date.getDate() - date.getDay() + 1);
              endDate = new Date(date.getFullYear(), date.getMonth(), date.getDate() - date.getDay() + 5);
              var dateFormat = inst.settings.dateFormat || $.datepicker._defaults.dateFormat;
              $('#startDate').text($.datepicker.formatDate( dateFormat, startDate, inst.settings ));
              $('#endDate').text($.datepicker.formatDate( dateFormat, endDate, inst.settings ));
     
              selectCurrentWeek();

              $.ajax({
                type: $(this).attr('method'),         
                url: $(this).attr('action'),
                data: { 'startdate':startDate.toISOString(), 
                        'enddate':endDate.toISOString(), 
                        'csrfmiddlewaretoken': '{{ csrf_token }}', 
                        'timetable_set-TOTAL_FORMS' : 40, // needed for formset
                        'timetable_set-INITIAL_FORMS': 40,
                        'timetable_set-MAX_NUM_FORMS' : 1000,
                      }, 
              success : function(response) {
                $('#Table-Update-form').html(response);
              },
              error : function(xhr,errmsg,err) {
                  $('#Table-Update-form').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                      " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
                  console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
              }})
          },
          onClose: function() {
            $(this).data('datepicker').inline = false;
          },
          beforeShowDay: function(date) {
              var cssClass = '';
              if(date >= startDate && date <= endDate)
                  cssClass = 'ui-datepicker-current-day';
              return [true, cssClass];
          },
          onChangeMonthYear: function(year, month, inst) {
              selectCurrentWeek();
          }
      }).datepicker('widget').addClass('ui-weekpicker');

      $('.week-picker .ui-datepicker-calendar tr').live('mousemove', function() { $(this).find('td a').addClass('ui-state-hover'); });
      $('.week-picker .ui-datepicker-calendar tr').live('mouseleave', function(){ $(this).find('td a').removeClass('ui-state-hover'); });
      
      $('<span class="displayDate" style="display:none">' + week + '</span>').insertBefore('.week-picker');
  
  });
</script>
{% endblock scripts %}

{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/timetable.css' %}">
<h2>forms</h2>

<div>
  <div class="week-picker"></div>
  <br /><br />
  <label>Week :</label> <span id="startDate"></span> - <span id="endDate"></span>
</div>

<form action="{% url 'sub_update' user.id %}" method="post" id="Table-Update-form">
  {% csrf_token %}
  <table border='1' id="TimeTableUpdate">
    <td align="center">월</td>
    <td align="center">화</td>
    <td align="center">수</td>
    <td align="center">목</td>
    <td align="center">금</td>
    {% for course in TimeTables %}
    {% cycle '<tr>' '' '' '' '' %}
      <td>  
        {{ course.as_p }}
      </td>
    {% cycle '' '' '' '' '</tr>' %}
    {% endfor %}
  </table>
  {{ TimeTables.management_form }}
  {{ TimeTables.non_form_errors.as_ul }}
  <input type="submit" class="btn btn-primary" value="Go Go Gadget &rarr;">
</form>
{% endblock content %}

{% if messages %}
  <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
  </ul>
  {% endif %}