{% extends 'base.html' %}

{% block scripts %}
<script>
  $(function(){
    $('#Table-Create-Form').on('submit', function(){
      alert();
    })
  });
</script>
{% endblock %}

{% block content %}
<form action="{% url 'sub_create' user.id %}" method="post" id="Table-Create-Form">
  {% csrf_token %}
  {{ formset.management_form }}
  {{ formset.non_form_errors.as_ul }} 
 
  <h2>forms</h2>
  <table class="table table-hover" id="TimeTableUpdate">
    <thead class="thead-light">
      <th scope="col">#</th>
      <th scope="col">Mon</th>
      <th scope="col">Tue</th>
      <th scope="col">Wed</th>
      <th scope="col">Thr</th>
      <th scope="col">Fri</th>
    </thead>
    <tbody>
    {% for course in formset %}
    {% cycle '<tr scope="row"><th>1</th>' '' '' '' '' %}
      <td>  
        {{ course.as_p }}
      </td>
    {% cycle '' '' '' '' '</tr>' %}
    {% endfor %}
    </tbody>
  </table>
  <input type="submit" class="btn btn-primary" value="Go Go Gadget &rarr;">
</form>
{% endblock %}