{% extends 'base.html' %}

{% block content %}
  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Semester</h1>
    </div>
      <ul>
        {% for semester in semesters %}
        <li>
          {% if user.user_type == 1 %}
            <a href="{% url 'timetable:home_view' user.id semester.pk weeks.0 %}">
              {{semester.school}} : {{semester}}
              ({{semester.start|date:"Y-m-d"}} ~ {{semester.end|date:"Y-m-d"}})
            </a>
          {% endif %}
          
          {% if user.user_type == 2 %}
            <a href="{% url 'timetable:inv_view' user.id semester.pk weeks.0 %}">
              {{semester.school}} : {{semester}}
              ({{semester.start|date:"Y-m-d"}} ~ {{semester.end|date:"Y-m-d"}})
            </a>
          {% endif %}

          {% if user.user_type == 3 %}
            <a href="{% url 'timetable:sub_view' user.id semester.pk weeks.0 %}">
              {{semester.school}} : {{semester}}
              ({{semester.start|date:"Y-m-d"}} ~ {{semester.end|date:"Y-m-d"}})
            </a>
          {% endif %}

          {% endfor %}
        </li>
      </ul>
  </main>
{% endblock content %}