{% extends 'accounts/base.html' %}

{% block content %}
  <h2>Subject Form</h2>
    {% csrf_token %}
    <table border="1">

      {% for oneday in weekday %} 
        <td>{{ oneday }}</td> 
      {% endfor %}

      {% for form in courses %}
      <form action="{% url 'modify' %}" method="post">
        {% csrf_token %}
        {% cycle '<tr>' '' '' '' '' %}
          <td>
            {{form.id}}
            {{form.classNumber}}
            {{form.subject}}
          </td>
        {% cycle '' '' '' '' '</tr>' %}
      <input type="submit">
      </form>
      {% endfor %}

    </table>
    <input type="submit">
{% endblock %}