{% extends 'accounts/base.html' %}

{% block content %}
  <h2>Subject Form</h2>
  <form action="{% url 'modify' %}" method="post">
    {% csrf_token %}
    {{ formset.management_form }}
    {{ formset.non_form_errors.as_ul }}
    
    <table border="1">
      <tr>
      <thead>
        {% for oneday in weekday %} 
          <td>{{ oneday }}</td> 
        {% endfor %}
      </thead>
      </tr>

      {% for form in formset %}
        {% cycle '<tr>' '' '' '' '' %}
          <td>
            {{ form.id }}
            {{ form.subject }}
          </td>
        {% cycle '' '' '' '' '</tr>' %}
      {% endfor %}

    </table>
    <input type="submit"/>
  </form>
{% endblock %}