{% extends 'accounts/base.html' %}

{% block content %}
  <h2>Subject View</h2>
  <form method="post">
    {% csrf_token %}
    <table border="1">

      {% for oneday in weekday %} 
        <td>{{ oneday }}</td> 
      {% endfor %}

      {% for c in courses %}
        {% cycle '<tr>' '' '' '' '' %}
          <td>
            <p>{{c.id}}</p>
            <p>{{c.subject}}</p>
            <p>{{c.created_time}}</p>
          </td>
        {% cycle '' '' '' '' '</tr>' %}
      {% endfor %}


    </table>
  </form>
{% endblock %}