{% extends 'accounts/base.html' %}

{% block content %}
  <h2>Subject Form</h2>
  <form action="{% url 'subject_view' %}" method="post">
    {% csrf_token %}
    <table border="1">

      {% for oneday in weekday %} 
        <td>{{ oneday }}</td> 
      {% endfor %}

      {% for c in courses %}
        {% cycle '<tr>' '' '' '' '' %}
          <td>
            {{c.id}}
            {{c.subject}}
          </td>
        {% cycle '' '' '' '' '</tr>' %}
      {% endfor %}

    </table>
    <button type="submit">수정</button>
  </form>
{% endblock %}