{% extends 'base.html' %}

{% load widget_tweaks %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/table.css' %}">

<div class="container mt-3">
  <div class="row">

    <div class="col-2">
      {% if count %}
        {% include '_count.html' %}
      {% endif %}
    </div>

    <div class="col-10">
      <form action="{% url 'timetable:sub_create' user.id %}" method="post" id="Table-Update-form">
        {% csrf_token %}
        <h2>Subject</h2>
          <table class="table table-bordered table-sm" id="TimeTableUpdate">
            <thead class="thead-light">
              <th scope="col">#</th>
              <th scope="col">Mon</th>
              <th scope="col">Tue</th>
              <th scope="col">Wed</th>
              <th scope="col">Thr</th>
              <th scope="col">Fri</th>
            </thead>
            <tbody>
            {% for course in TimeTables %}
            {% cycle '<tr scope="row"><th>1</th>' '' '' '' '' %}
              <td>  
                {% for field in course %}
                <div class="form-group">
                  {% render_field field class="form-control" placeholder=field.label %}
                  <div class="{% if field.errors %} invalid {% endif %}">
                    {% for error in field.errors %}
                      <p class="help-block">{{ error }}</p>
                    {% endfor %}
                  </div>
                </div>
                {% endfor %}
              </td>
            {% cycle '' '' '' '' '</tr>' %}
            {% endfor %}
            </tbody>
          </table>
         
          <div class="modal-footer">
            <button type="submit" class="submit-btn btn btn-primary">Create</button>
          </div>

          </div>
          {{ TimeTables.management_form }}
          {{ TimeTables.non_form_errors.as_ul }}
         
      </form>
    </div>
  </div>
</div>
{% endblock content %}