{% extends 'base.html' %}

{% load widget_tweaks %}
{% load static %}

{% block content %}
  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Subject</h1>
    </div>

    <div class="table-responsive">
    <form action="{% url 'timetable:sub_create' user.id %}" method="post" id="Table-Update-form">
      {% csrf_token %}
        <table class="table table-bordered table-hover" id="TimeTableCreate">
          <thead class="">
            <th scope="col" style="width: 2.5%" >#</th> 
            <th scope="col" style="width: 12.5%">Mon</th>
            <th scope="col" style="width: 12.5%">Tue</th>
            <th scope="col" style="width: 12.5%">Wed</th>
            <th scope="col" style="width: 12.5%">Thr</th>
            <th scope="col" style="width: 12.5%">Fri</th>
          </thead>
          <tbody>
          {% for course in timetables %}
          {% cycle '<tr scope="row"><th>1</th>' '' '' '' '' %}
            <td>  
              {% for field in course %}
              <div class="form-group">
                {% render_field field class="form-control" placeholder=field.label %}
                <div class="{% if field.errors %} invalid {% endif %}">
                  {% for error in field.errors %}
                    <p class="help-block">{{ error }}</p>
                  {% endfor %}
                </div>
              </div>
              {% endfor %}
            </td>
          {% cycle '' '' '' '' '</tr>' %}
          {% endfor %}
          </tbody>
        </table>
        {{ timetables.management_form }}
        {{ timetables.non_form_errors.as_ul }}
        <div class="modal-footer">
          <button type="submit" class="btn btn-secondary btn-lg">Create</button>
        </div>
      </form>
      
    </div>
  </main>
{% endblock content %}