<h2>Information</h2>
<div class="table-responsive">
<table class="table table-bordered table-hover" id="Detailed">
    <thead class="">
        <th scope="col">교과</th>
        {% for week in list_weeks %}
        <th scope="col">{{ forloop.counter }} 주차</th>
        {% endfor %} 
        <th scope="col">현재시수</th>
    </thead>
      
    <tbody>
    {% for subject, count in information.items %}
        <tr>
            <td>{{ subject.name|make_list|first }}</td>
            {% for count in count.0 %}
                <td>{{ count }}</td> <!--count_per_week-->
            {% endfor %}
            <td class="">{{ count.1 }}/{{ count.2 }}</td>
        </tr>
    {% endfor %}
    </tbody>

</table>
</div>
