{% extends 'base.html' %}

{% load widget_tweaks %}
{% load static %}

{% block extrascripts %}
<link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.css'%}"/>
<script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
<script>
$(function() {
      $('#weekpicker').datepicker({
          format: "yyyy/mm/dd",
          daysOfWeekDisabled: "0,2,3,4,5,6",
          daysOfWeekHighlighted: "1,2,3,4,5",
          calendarWeeks: true,
          showOtherMonths: true,
          selectOtherMonths: true,
          })
          .on('changeDate', function(event) { 
              var startDate = new Date($(this).val());
              startDate.setDate(startDate.getDate() + 1);
              var endDate = new Date();
              endDate.setDate(startDate.getDate() + 4);
              $.ajax({
                type: $(this).attr('method'),         
                url: $(this).attr('action'),
                data: { 'start':startDate.toISOString(), 
                        'end' : endDate.toISOString(),
                        'csrfmiddlewaretoken': '{{ csrf_token }}', 
                        'timetable_set-TOTAL_FORMS' : 40, // needed for formset
                        'timetable_set-INITIAL_FORMS': 40,
                        'timetable_set-MAX_NUM_FORMS' : 40,
                      }, 
              success : function(data) {
                $('#Table-Update-form').html(data);
              },
              error : function(xhr,errmsg,err) {
                  $('#Table-Update-form').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                      " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
                  console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
              }})
          });
  });
</script>
{% endblock extrascripts %}

{% load static %}
{% block content %}

  {% if list_weeks %}
  {% include 'home/_list.html' %}
  {% endif %}

  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Homeroom</h1>
      <div class="btn-toolbar mb-2 mb-md-0">
        <button class="btn btn-sm btn-outline-secondary">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg>
          This week
        </button>
      </div>
    </div>

    <div class="table-responsive">
    <form action="" method="post" id="Table-Update-form">
      {% csrf_token %}
        <table class="table table-bordered table-hover" id="TimeTableUpdate">
          <thead class="">
            <th scope="col">#</th>
            <th scope="col">Mon</th>
            <th scope="col">Tue</th>
            <th scope="col">Wed</th>
            <th scope="col">Thr</th>
            <th scope="col">Fri</th>
          </thead>
          <tbody>
          {% for course in timetables %}
          {% cycle '<tr scope="row"><th class="align-middle"> 1 </th>' '' '' '' '' %}
            <td class="text-center {% if course.is_holi_or_event %} bg-danger {% endif %} {% if course.sub_teacher %} bg-warning {% endif %}"> 
              {% for field in course %}
              <div class="form-group">
                {% render_field field class="form-control" placeholder=field.label %}
                <div class="{% if field.errors %} invalid {% endif %}">
                  {% for error in field.errors %}
                    <p class="help-block">{{ error }}</p>
                  {% endfor %}
                </div>
              </div>
              {% endfor %}
            </td>
          {% cycle '' '' '' '' '</tr>' %}
          {% endfor %}
          </tbody>
        </table>

        <div class="modal-footer">
          <button type="submit" class="btn btn-secondary btn-lg">Update</button>
        </div>
        {{ timetables.management_form }}
        {{ timetables.non_form_errors.as_ul }}
      </form>
    </div>

  </main>
{% endblock content %}
