{% extends 'base.html' %}

{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/table.css' %}">

<div class="container mt-3 mr-auto">
  <h2>Homeroom</h2>
  <div class="row">

    <div class="col-9">
    <form action="{% url 'timetable:home_view' user.id %}" method="get" id="Table-View-form">
    {% csrf_token %}
      
        <table class="table table-bordered table-hover" id="TimeTableView">
          <thead class="">
            <th scope="col">#</th> 
            <th scope="col">Mon</th>
            <th scope="col">Tue</th>
            <th scope="col">Wed</th>
            <th scope="col">Thr</th>
            <th scope="col">Fri</th>
          </thead>
          <tbody>
          {% for course in TimeTables %}
            {% cycle '<tr scope="row"><th class="align-middle">1</th>' '' '' '' '' %}
              <td class="text-center {% if course.is_holi_or_event %} bg-danger {% endif %} {% if course.sub_teacher %} bg-warning {% endif %}">
                <div class=""> 
                  <p>{% if course.classRoom %}{{ course.classRoom }}{% endif %}</p>
                  <p>{% if course.subject %}{{ course.subject }}{% endif %}</p>
                  <p>{% if course.sub_teacher %}{{ course.sub_teacher }}{% endif %}</p>
                </div>
              </td>
            {% cycle '' '' '' '' '</tr>' %}
          {% endfor %}
          </tbody>
        </table>
        {{ TimeTables.management_form }}
        {{ TimeTables.non_form_errors.as_ul }} 
        <a href="{% url 'timetable:home_create' user.id %}">create</a>
        <a href="{% url 'timetable:home_update' user.id %}">update</a>
    </form>
    </div>
  
    <div class="col-3">
      {% if count %}
        {% include '_count.html' %}
      {% endif %}
    </div>
    
  </div>
</div>

{% endblock %}
