<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' type-image/x-icon %}">
    <title>Timetable Maker v0.1</title>
</head>

<body>
    <div class="signup">
        <h1>Signup</h1>
        <form method="POST" action="">
            {% csrf_token %}
            <input type="text" name="id"/>
            <input type="password" name="pwd1"/>
            <input type="password" name="pwd2"/>
            <button type="submit" class="btn btn-primary btn-block btn-large">Signup</button>
        </form>
    </div>
</body>