<table id="subject-table" class="table">
    <thead>
    <tr>
      <th class="text-center" scope="col">#</th>
      <th class="text-center" scope="col">Grade</th>
      <th class="text-center" scope="col">Name</th>
      <th class="text-center" scope="col">Teacher</th>
      <th class="text-center" scope="col">Teacher</th>
      <th class="text-center" scope="col">Teacher</th>
      <th class="text-center" scope="col">Teacher</th>
      <th class="text-center" scope="col">Count</th>
      <th class="text-center" scope="col">Update / Delete</th>
    </tr>
    </thead>
    <tbody>
    {% for subject in subjects %}
      <tr>
        <th class="text-center" scope="row">{{ forloop.counter }}</th>
        <td class="text-center">{{ subject.grade }}</td>
        <td class="text-center">{{ subject.name }}</td>
        <td class="text-center">{% if subject.teacher1 %}{{ subject.teacher1 }}{% endif %}</td> 
        <td class="text-center">{% if subject.teacher2 %}{{ subject.teacher2 }}{% endif %}</td>
        <td class="text-center">{% if subject.teacher3 %}{{ subject.teacher3 }}{% endif %}</td>
        <td class="text-center">{% if subject.teacher4 %}{{ subject.teacher4 }}{% endif %}</td>
        <td class="text-center">{{ subject.count }}</td>
        <td class="text-center">
          <button type="button" class="update-book btn btn-sm btn-primary" data-form-url="{% url 'school:update_subject' subject.pk %}">
            <span class="fa fa-pencil"></span>
          </button>
          <!-- Delete book buttons -->
          <button type="button" class="bs-modal delete-book btn btn-sm btn-danger" data-form-url="{% url 'school:delete_subject' subject.pk %}">
            <span class="fa fa-trash"></span>
          </button>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>