<table id="subject-table" class="table">
    <thead>
    <tr>
      <th class="text-center" scope="col">#</th>
      <th class="text-center" scope="col">학교</th>
      <th class="text-center" scope="col">학년</th>
      <th class="text-center" scope="col">과목명</th>
      <th class="text-center" scope="col">과목시수</th>
      <th class="text-center" scope="col">수정 / 삭제</th>
    </tr>
    </thead>
    <tbody>
    {% for subject in subjects %}
      <tr>
        <th class="text-center" scope="row">{{ forloop.counter }}</th>
        <td class="text-center">{{ subject.school }}</td>
        <td class="text-center">{{ subject.grade }}</td>
        <td class="text-center">{{ subject.name }}</td>
        <td class="text-center">{{ subject.count }}</td>
        <td class="text-center">
          <button type="button" class="update-subject btn btn-sm btn-primary" data-form-url="{% url 'school:update_subject' user.school.pk subject.pk %}">
            <i class="fas fa-pencil-alt"></i>
          </button>
          <!-- Delete book buttons -->
          <button type="button" class="bs-modal btn btn-sm btn-danger" data-form-url="{% url 'school:delete_subject' user.school.pk subject.pk %}">
            <i class="fas fa-trash-alt"></i>
          </button>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>