{% extends 'base.html' %}

{% block content %}
 {% include "_modal.html" %}

  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">ClassRoom</h1>
      <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
          <button id="create-classroom" class="btn btn-outline-secondary btn-sm" type="button" name="button">
            <span class="fa fa-plus mr-2"></span>Create ClassRoom
          </button>
          <button id="filter-classroom" class="bs-modal btn btn-outline-secondary btn-sm" type="button" name="button" data-form-url="{% url 'school:filter_classroom' %}">
            <span class="fa fa-filter mr-2"></span>Filter by Grade
          </button>
        </div>
      </div>
    </div>

        <div class="row">
          <div class="col-12 mb-3">
     
          </div>
          <div class="col-12 mb-3">
            {% if classrooms %}
              {% include "classroom/_table.html" %}
            {% else %}
              <p class="no-classroom text-primary">No classroom added yet.</p>
            {% endif %}
          </div>
        </div>
      
    </div>
  </main>
{% endblock content %}


{% block extrascripts %}
  <script type="text/javascript">
      $(function () {
          
          $("#create-classroom").modalForm({
            formURL: "{% url 'school:create_classroom' %}",
            modalID: "#create-modal"
          });

          var asyncSuccessMessage = [
            "<div ",
            "style='position:fixed;top:0;z-index:10000;width:100%;border-radius:0;' ",
            "class='alert alert-icon alert-success alert-dismissible fade show mb-0' role='alert'>",
            "Success: Book was updated.",
            "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>",
            "<span aria-hidden='true'>&times;</span>",
            "</button>",
            "</div>",
            "<script>",
            "$('.alert').fadeTo(2000, 500).slideUp(500, function () {$('.alert').slideUp(500).remove();});",
            "<\/script>"
          ].join("");

          function updateClassRoomModalForm() {
            $(".update-classroom").each(function () {
              $(this).modalForm({
                formURL: $(this).data("form-url"),
                asyncUpdate: true,
                asyncSettings: {
                  closeOnSubmit: false,
                  successMessage: asyncSuccessMessage,
                  dataUrl:"{% url 'school:classrooms' %}",
                  dataElementId: "#classroom-table",
                  dataKey: "table",
                  addModalFormFunction: updateClassRoomModalForm
                }
              });
            });
          }
          updateClassRoomModalForm();

          // Read and Delete book buttons open modal with id="modal"
          // The formURL is retrieved from the data of the element
          $(".bs-modal").each(function () {
              $(this).modalForm({formURL: $(this).data("form-url")});
          });

          // Hide message
          $(".alert").fadeTo(2000, 500).slideUp(500, function () {
              $(".alert").slideUp(500);
          });
      });
  </script>
{% endblock extrascripts %}