{% extends 'base.html' %}

{% block content %}

  {% include "_modal.html" %}

  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2 font-weight-bold">학기</h1>
      <div class="btn-toolbar mb-2 mb-md-0">
        <button id="add-semester" class="btn btn-outline-secondary btn-sm" type="button" name="button">
          <span class="fa fa-plus mr-2"></span>Create
        </button>
      </div>
    </div>

        <div class="row">
          <div class="col-12 mb-3">
            {% if semesters %}
              {% include "semester/_table.html" %}
            {% else %}
              <p class="no-semester text-primary">아직 생성된 학기가 없습니다.</p>
            {% endif %}
          </div>
        </div>
        
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2 font-weight-bold">학기 중 수업없는 날</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
              <button id="add-holiday" class="btn btn-outline-secondary btn-sm" type="button" name="button">
                <span class="fa fa-plus mr-2"></span>Create
              </button>
            </div>
          </div>
          
        <div class="row">
          <div class="col-12 mb-3">
            {% if holidays %}
              {% include "holiday/_table.html" %}
            {% else %}
              <p class="no-holidays text-primary">아직 추가된 휴일이 없습니다.</p>
            {% endif %}
          </div>
        </div>

    </div>
  </main>
{% endblock content %}

{% block extrascripts %}
  <script type="text/javascript">
      $(function () {
          // Log in & Sign up buttons
          // The formURL is given explicitly
          // Create book button opens modal with id="create-modal"
          $("#add-semester").modalForm({
            formURL: "{% url 'school:create_semester' user.school.pk %}",
            modalID: "#create-modal"
          });

          $("#add-holiday").modalForm({
            formURL: "{% url 'school:create_holiday' user.school.pk %}",
            modalID: "#create-modal"
          });
          
          var asyncSuccessMessage = [
            "<div ",
            "style='position:fixed;top:0;z-index:10000;width:100%;border-radius:0;' ",
            "class='alert alert-icon alert-success alert-dismissible fade show mb-0' role='alert'>",
            "Success: Book was updated.",
            "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>",
            "<span aria-hidden='true'>&times;</span>",
            "</button>",
            "</div>",
            "<script>",
            "$('.alert').fadeTo(2000, 500).slideUp(500, function () {$('.alert').slideUp(500).remove();});",
            "<\/script>"
          ].join("");

          function updateSemesterModalForm() {
            $(".update-semester").each(function () {
              $(this).modalForm({
                formURL: $(this).data("form-url"),
                asyncUpdate: true,
                asyncSettings: {
                  closeOnSubmit: false,
                  successMessage: asyncSuccessMessage,
                  dataUrl:"{% url 'school:semesters' %}",
                  dataElementId: "#semester-table",
                  dataKey: "table",
                  addModalFormFunction: updateSemesterModalForm
                }
              });
            });
          }
          updateSemesterModalForm();

          function updateHolidayModalForm() {
            $(".update-holiday").each(function () {
              $(this).modalForm({
                formURL: $(this).data("form-url"),
                asyncUpdate: true,
                asyncSettings: {
                  closeOnSubmit: false,
                  successMessage: asyncSuccessMessage,
                  dataUrl:"{% url 'school:holidays' %}",
                  dataElementId: "#holiday-table",
                  dataKey: "table",
                  addModalFormFunction: updateHolidayModalForm
                }
              });
            });
          }
          updateHolidayModalForm();

          // Read and Delete book buttons open modal with id="modal"
          // The formURL is retrieved from the data of the element
          $(".bs-modal").each(function () {
              $(this).modalForm({formURL: $(this).data("form-url")});
          });

          // Hide message
          $(".alert").fadeTo(2000, 500).slideUp(500, function () {
              $(".alert").slideUp(500);
          });
      });
  </script>
{% endblock extrascripts %}