<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' type-image/x-icon %}">
    <title>Timetable Maker v0.1</title>
</head>

<body>
    <div class="login">
        <h1>Login</h1>
        <form method="POST" action="">
            {% csrf_token %}
            <input type="text" name="id" placeholder="Username" required="required" />
            <input type="password" name="pwd" placeholder="Password" required="required" />
            <button type="submit" class="btn btn-primary btn-block btn-large">Login</button>
        </form>
    </div>
</body>