{% load static %}

<!-- Header -->
<header style="border-bottom: 1px solid #eee;">
  <!-- Messages -->
  <div>
    {% if messages %}
      {% for message in messages %}
        <div style="border-radius:0;" {% if message.tags %} class="alert alert-icon alert-{{ message.tags }} alert-dismissible fade show mb-0" role="alert" {% endif %}>
          {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {% endfor %}
    {% endif %}
  </div>
  <!-- End Messages -->
    <!-- Navbar -->
    <!-- Important: columns can be used directly in navbar since it is d-flex -->
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark p-0 shadow">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="{% url 'home' %}">Scheduler</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        {% if user.is_authenticated %}
        <ul class="navbar-nav px-3">
          <li class="nav-item text-nowrap">
            <a class="nav-link" href="{% url 'timetable:term_view' %}">시간표<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item text-nowrap">
            <a class="nav-link" href="{% url 'school:manage_semester' %}">개인정보<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item text-nowrap">
            <a class="nav-link" href="{% url 'school:manage_semester' %}">학기관리</a>
          </li>
          <li class="nav-item text-nowrap">
            <a class="nav-link" href="{% url 'school:manage_classroom' %}">반관리</a>
          </li>
          <li class="nav-item text-nowrap">
            <a class="nav-link" href="{% url 'school:manage_subject' %}">교과관리</a>
          </li>
        </ul>

          {% if not user.is_anonymous %}
            <p class="text-muted ml-auto m-0">
              Your are logged in as <strong>{{ user }}</strong>
              <a href="{% url 'logout' %}" id="logout-btn" class="" role="button">Log out</a>
            </p>
          {% endif %}
        {% endif %}
      </div>
      
    </nav>
    <!-- End Navbar -->
</header>
<!-- End Header -->
