<div class="container">
    <div class="row">

        <div class="col-2 px-1 ml-3 position-fixed" id="sticky-sidebar">
            <div class="nav flex-column flex-nowrap vh-100 overflow-auto text-white p-2">
                <a href="{% url 'school:manage_semester' %}" class="nav-link">개인정보</a>
                <a href="{% url 'school:manage_semester' %}" class="nav-link">학기관리</a>
                <a href="{% url 'school:manage_classroom' %}" class="nav-link">반관리</a>
                <a href="{% url 'school:manage_subject' %}" class="nav-link">교과관리</a>
            </div>
        </div>
   
    </div>
</div>


