{% extends 'base.html' %}

{% block scripts %}
<script type="text/javascript">
    $(document).ready(function() {
    
        $(".signup-btn").modalForm({
            formURL: "/accounts/signup/"
      });
    
    });
</script>
{% endblock %}

{% block content %}
<h2>Login</h2>
<button class="signup-btn btn btn-primary" type="button" name="button">Sign up</button>
<form action="." method="get">

    <a href="{% url 'school:admin_view' %}"> manage </a>
    <a href="{% url 'timetable:sub_view' user.id %}"> subject </a>
    <a href="{% url 'timetable:home_view' user.id %}"> homeroom </a>

</form>
{% endblock %}