{% extends 'base.html' %}

{% block content %}

{% include "_modal.html" %}

  <div class="container mt-3">
    <div class="card">
      <div class="card-header">
        <h2> SignUp </h2>
      </div>
        <div class="card-body">
            <div class="row no-gutters">
              <div class="col">
                  <button id="login-btn" class="btn btn-primary">Login</button>
              </div>
              <div class="col">
                <div class="col">
                  <a id="signup-btn" class="btn btn-primary" role="button" href="{% url 'homeroom_signup' %}">
                      homeroom teacher signup
                  </a>
                </div>
                <div class="col">
                  <a id="signup-btn" class="btn btn-primary" role="button" href="{% url 'subject_signup' %}">
                      subject teacher signup
                  </a>
                </div>
                <div class="col">
                  <a id="signup-btn" class="btn btn-primary" role="button" href="{% url 'subject_signup' %}">
                      subject teacher signup
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block extrascripts %}
  <script type="text/javascript">
      $(function () {
        $("#login-btn").modalForm({
            formURL: "{% url 'login' %}"
          });
        })
 </script>
 {% endblock extrascripts %}