{% extends 'base.html' %}

{% load static %}
{% load widget_tweaks %}

{% block content %}
{% include "_modal.html" %}

<main role="main" class="col-6 mt-5 ml-auto mr-auto">
  <!-- Header Image -->
  <img src="{% static 'img/login.jpg' %}" class="img-fluid" alt="">
  
  <!-- Card -->
  <div class="card-group mx-auto mt-1">

    <!-- Login -->
    <div class="card col-sm-8 border-secondary">
      <h3 class="card-header bg-white border-secondary pl-0">로그인</h3>
        <div class="card-body">
          <form action="" method="post">
            {% csrf_token %}
              <div class="{% if form.non_field_errors %}invalid{% endif %} mb-2">
                {% for error in form.non_field_errors %}
                  {{ error }}
                {% endfor %}
              </div>
              {% for field in form %}
                <div class="form-group">
                  {% render_field field class="form-control" placeholder=field.label %}
                  <div class="{% if field.errors %} invalid {% endif %}">
                    {% for error in field.errors %}
                      <p class="help-block">{{ error }}</p>
                    {% endfor %}
                  </div>
                </div>
              {% endfor %}
              <div class="modal-footer pt-4 pr-0 pb-0">
                <button type="submit" class="submit-btn btn btn-secondary">로그인</button>
              </div>
            </form>
        </div>
    </div>
    <!-- End Login-->

    <!-- SignUp-->
    <div class="card col-lg-4 text-white text-left bg-secondary ">
      <h3 class="card-header pl-0">가입</h3>
        <div class="card-title h4 mt-3">학교</div>
        <div class="span2 pb-3">
          <p class="card-text">지금 즉시 가입하세요 환영합니다 환영합니다</p>
            <div class="btn-group btn-block">
              <button class="text-white btn btn-sm btn-outline-light" id="su-home-btn">담임</button>
              <button class="text-white btn btn-sm btn-outline-light" id="su-sub-btn">교과</button>
              <button class="text-white btn btn-sm btn-outline-light" id="su-inv-btn">초청</button>
           </div>
           <button class="text-white btn btn-sm btn-outline-light btn-block" id="su-school-btn">학교생성</button>
        </div>
    <!-- End SignUp-->

  </div>
</main>
{% endblock %}

{% block extrascripts %}
  <script type="text/javascript">
      $(function () {
        $("#su-school-btn").modalForm({
          formURL: "{% url 'school:school_signup' %}",
          modalID: "#create-modal",
        });
        $("#su-home-btn").modalForm({
          formURL: "{% url 'account:homeroom_signup' %}",
          modalID: "#create-modal",
        });
        $("#su-sub-btn").modalForm({
          formURL: "{% url 'account:subject_signup' %}",
          modalID: "#create-modal",
        });
        $("#su-inv-btn").modalForm({
          formURL: "{% url 'account:invited_signup' %}",
          modalID: "#create-modal",
        });
        })
 </script>
 {% endblock extrascripts %}