{% extends 'base.html' %}

{% load widget_tweaks %}
{% load static %}

{% block content %}

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2 font-weight-bold">프로필</h1>
  </div>

   <form method="post" action="">
    {% csrf_token %}
      <div class="modal-body">
    
        <div class="{% if form.non_field_errors %}invalid{% endif %} mb-2">
          {% for error in form.non_field_errors %}
            {{ error }}
          {% endfor %}
        </div>
        
        {% for field in form %}
          <div class="form-group">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {% render_field field|add_class:"form-control" placeholder=field.label %}
            <div class="{% if field.errors %} invalid {% endif %}">
              {% for error in field.errors %}
                <p class="help-block">{{ error }}</p>
              {% endfor %}
            </div>
          </div>
        {% endfor %}
      </div>
    
      <div class="modal-footer">
        <button type="submit" class="submit-btn btn btn-success">Sign Up</button>
      </div>
    
    </form>
    
  </div>
</main>

{% endblock content %}