<table id="classroom-table" class="table">
    <thead>
    <tr>
      <th class="text-center" scope="col">#</th>
      <th class="text-center" scope="col">School</th>
      <th class="text-center" scope="col">Grade</th>
      <th class="text-center" scope="col">Number</th>
      <th class="text-center" scope="col">Teacher</th>
      <th class="text-center" scope="col">Student Number</th>
      <th class="text-center" scope="col">Update / Delete</th>
    </tr>
    </thead>
    <tbody>
    {% for classroom in classrooms %}
      <tr>
        <th class="text-center" scope="row">{{ forloop.counter }}</th>
        <td class="text-center">{{ classroom.school }}</td>
        <td class="text-center">{{ classroom.grade }}</td>
        <td class="text-center">{{ classroom.number }}</td>
        <td class="text-center">{{ classroom.teacher }}</td>
        <td class="text-center">{{ classroom.student_number }}</td>
        <td class="text-center">
          <!-- Update book buttons -->
          <button type="button" class="update-classroom btn btn-sm btn-primary" data-form-url="{% url 'school:update_classroom' classroom.pk %}">
            <span class="fa fa-pencil"></span>
          </button>
          <!-- Delete book buttons -->
          <button type="button" class="bs-modal delete-book btn btn-sm btn-danger" data-form-url="{% url 'school:delete_classroom' classroom.pk %}">
            <span class="fa fa-trash"></span>
          </button>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>