<table id="classroom-table" class="table">
    <thead>
    <tr>
      <th class="text-center" scope="col">#</th>
      <th class="text-center" scope="col">학교</th>
      <th class="text-center" scope="col">학년</th>
      <th class="text-center" scope="col">반</th>
      <th class="text-center" scope="col">담임</th>
      <th class="text-center" scope="col">수정 / 삭제</th>
    </tr>
    </thead>
    <tbody>
    {% for classroom in classrooms %}
      <tr>
        <th class="text-center" scope="row">{{ forloop.counter }}</th>
        <td class="text-center">{{ classroom.school }}</td>
        <td class="text-center">{{ classroom.grade }}</td>
        <td class="text-center">{{ classroom.number }}</td>
        <td class="text-center">{{ classroom.teacher }}</td>
        <td class="text-center">
          <!-- Update book buttons -->
          <button type="button" class="update-classroom btn btn-sm btn-primary" data-form-url="{% url 'school:update_classroom' user.school.pk classroom.pk %}">
            <li class="fas fa-pencil-alt"></li>
          </button>
          <!-- Delete book buttons -->
          <button type="button" class="bs-modal btn btn-sm btn-danger" data-form-url="{% url 'school:delete_classroom' user.school.pk classroom.pk %}">
            <i class="fas fa-trash-alt"></i>
          </button>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>